<%= form_for(@boat_departure) do |f| %>
  <% if @boat_departure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@boat_departure.errors.count, "error") %> prohibited this boat_departure from being saved:</h2>

      <ul>
      <% @boat_departure.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dive_event_id %><br />
    <%= f.number_field :dive_event_id %>
  </div>
  <div class="field">
    <%= f.label :boat_id %><br />
    <%= f.number_field :boat_id %>
  </div>
  <div class="field">
    <%= f.label :departure_date %><br />
    <%= f.date_select :departure_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
