<p id="notice"><%= notice %></p>

<p>
  <b>Dive event:</b>
  <%= @boat_departure.dive_event_id %>
</p>

<p>
  <b>Boat:</b>
  <%= @boat_departure.boat_id %>
</p>

<p>
  <b>Departure date:</b>
  <%= @boat_departure.departure_date %>
</p>


<%= link_to 'Edit', edit_boat_departure_path(@boat_departure) %> |
<%= link_to 'Back', boat_departures_path %>
