<%= form_for(@dive_club) do |f| %>
  <% if @dive_club.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dive_club.errors.count, "error") %> prohibited this dive_club from being saved:</h2>

      <ul>
      <% @dive_club.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :ffessm_licence_number %><br />
    <%= f.text_field :ffessm_licence_number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
