<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @dive_club.name %>
</p>

<p>
  <b>Ffessm licence number:</b>
  <%= @dive_club.ffessm_licence_number %>
</p>


<%= link_to 'Edit', edit_dive_club_path(@dive_club) %> |
<%= link_to 'Back', dive_clubs_path %>
