<h1>Listing ffessm_levels</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ffessm_levels.each do |ffessm_level| %>
  <tr>
    <td><%= ffessm_level.name %></td>
    <td><%= link_to 'Show', ffessm_level %></td>
    <td><%= link_to 'Edit', edit_ffessm_level_path(ffessm_level) %></td>
    <td><%= link_to 'Destroy', ffessm_level, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ffessm level', new_ffessm_level_path %>
