<div class="hero-unit">
	<h1>{{view.diver.fullname}}</h1>
	{{#if view.isEditing}}
		<div class="field">
			{{view Ember.TextField valueBinding="view.diver.firstname"  placeholder="First Name" size="30"}}
		</div>
		<div class="field">
			{{view Ember.TextField valueBinding="view.diver.lastname"  placeholder="Last Name" size="30"}}
		</div>
		<div class="field">
			{{view Ember.TextField valueBinding="view.diver.email" placeholder="Email" size="30" type="email"}}
		</div>
	{{else}}
		<p>{{view.diver.firstname}}</p>
		<p>{{view.diver.lastname}}</p> 
		<p>{{view.diver.email}}</p>
	{{/if}}

	<hr />
	<dl class="dl-horizontal">
		<dt>Id</dt>
        <dd>{{view.diver.id}}</dd>
        <dt>Club de plongée</dt>
        <dd>{{view.diver.dive_club_id}}</dd>
        <dt>Niveau</dt>
        <dd>{{view.diver.ffessm_level_id}}</dd>
        <dt>N° licence</dt>
        <dd>{{view.diver.ffessm_licence_number}}&nbsp;</dd>
        <dt>Certificat médical</dt>
        <dd> {{view.diver.medical_certificate_expires_on}}&nbsp;</dd>
		<dt>Créé le</dt>
        <dd>{{view.diver.created_at}}</dd>
		<dt>Modifié le</dt>
        <dd>{{view.diver.updated_at}}</dd>
    </dl>
</div>
<div class="actions"> 
	{{#if view.isEditing}}
		<button class="btn btn-danger" type="button" {{action "destroyObject"}}>Supprimer</button>
		<button class="btn" type="button" {{action "stopEditMode"}}>Annuler</button>
		<button class="btn btn-success" type="submit">Enregistrer</button>
	{{else}}
		<button class="btn btn-primary" type="button" {{action "startEditMode"}}>Modifier</button>
	{{/if}}
</div>
