<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @app_key.code %>
</p>

<p>
  <b>Administrator:</b>
  <%= @app_key.administrator_id %>
</p>


<%= link_to 'Edit', edit_app_key_path(@app_key) %> |
<%= link_to 'Back', app_keys_path %>
