<%= form_for(@admin_dive_group_participant) do |f| %>
  <% if @admin_dive_group_participant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_dive_group_participant.errors.count, "error") %> prohibited this admin_dive_group_participant from being saved:</h2>

      <ul>
      <% @admin_dive_group_participant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dive_group_id %><br />
    <%= f.number_field :dive_group_id %>
  </div>
  <div class="field">
    <%= f.label :diver_id %><br />
    <%= f.number_field :diver_id %>
  </div>
  <div class="field">
    <%= f.label :dive_role_id %><br />
    <%= f.number_field :dive_role_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
