<h1>Listing admin_dive_group_participants</h1>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Dive group</th>
    <th>Diver</th>
    <th>Dive role</th>
    <th colspan="3" class="action"></th>
  </tr>

<% @admin_dive_group_participants.each do |admin_dive_group_participant| %>
  <tr>
    <td><%= admin_dive_group_participant.dive_group_id %></td>
    <td><%= admin_dive_group_participant.diver_id %></td>
    <td><%= admin_dive_group_participant.dive_role_id %></td>
    <td><%= link_to 'Show', admin_dive_group_participant, :class => 'btn' %></td>
    <td><%= link_to 'Edit', edit_admin_dive_group_participant_path(admin_dive_group_participant), :class => 'btn' %></td>
    <td><%= link_to 'Destroy', admin_dive_group_participant, :confirm => 'Are you sure?', :method => :delete, :class => 'btn' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dive group participant', new_admin_dive_group_participant_path, :class => 'btn btn-primary'  %>
