<p id="notice"><%= notice %></p>

<p>
  <b>Dive group:</b>
  <%= @admin_dive_group_participant.dive_group_id %>
</p>

<p>
  <b>Diver:</b>
  <%= @admin_dive_group_participant.diver_id %>
</p>

<p>
  <b>Dive role:</b>
  <%= @admin_dive_group_participant.dive_role_id %>
</p>


<%= link_to 'Edit', edit_admin_dive_group_participant_path(@admin_dive_group_participant) %> |
<%= link_to 'Back', admin_dive_group_participants_path %>
