{{#if view.isEditing}}
	<table class="table table-condensed table-bordered">
		<tr>
			<th colspan="2" class="h">Prévu</th>
			<th colspan="2" class="h">Réalisé</th>
		</tr>
		<tr>
			<th class="i"><i class="icon-time"></i></th>
			<td>
				<div class="input-append">
					{{view JustDive.TextFieldMini valueBinding="view.diveGroup.estimated_dive_time"  placeholder="Durée prévue"}}<span class="add-on">minutes</span>
				</div>
			</td>
			<th class="i"><i class="icon-time"></i></th>
			<td>
				<div class="input-append">
					{{view JustDive.TextFieldMini valueBinding="view.diveGroup.realized_dive_time"  placeholder="Durée réalisée"}}<span class="add-on">minutes</span>
				</div>
			</td>
		</tr>
		<tr>
			<th class="i"><i class="icon-flag"></i></th>
			<td>
				<div class="input-append">
					{{view JustDive.TextFieldMini valueBinding="view.diveGroup.estimated_dive_depth"  placeholder="Profondeur prévue"}}<span class="add-on">mètres</span>
				</div>
			</td>
			<th class="i"><i class="icon-flag"></i></th>
			<td>
				<div class="input-append">
					{{view JustDive.TextFieldMini valueBinding="view.diveGroup.realized_dive_depth"  placeholder="Profondeur réalisée"}}<span class="add-on">mètres</span>
				</div>
			</td>
		</tr>
		<tr>
			<th rowspan="2" class="i">&nbsp;</th>
			<td rowspan="2">&nbsp;</td>
			<th class="i"><i class="icon-thumbs-down"></i></th>
			<td>
				<div class="input-append">
					{{view JustDive.TextFieldMini valueBinding="view.diveGroup.immersion_start_time"  placeholder="Heure d'immersion"}}
				</div>
			</td>
		</tr>
		<tr>
			<th class="i"><i class="icon-thumbs-up"></i></th>
			<td>
				<div class="input-append">
					{{view JustDive.TextFieldMini valueBinding="view.diveGroup.immersion_end_time"  placeholder="Heure de sortie"}}
				</div>
			</td>
		</tr>
	</table>
{{else}}
	<table class="table table-condensed table-bordered">
		<tr>
			<th colspan="2" class="h">Prévu</th>
			<th colspan="2" class="h">Réalisé</th>
		</tr>
		<tr>
			<th class="i"><i class="icon-time"></i></th>
			<td>{{view.diveGroup.estimated_dive_time}}</td>
			<th class="i"><i class="icon-time"></i></th>
			<td>{{view.diveGroup.realized_dive_time}}</td>
		</tr>
		<tr>
			<th class="i"><i class="icon-flag"></i></th>
			<td>{{view.diveGroup.estimated_dive_depth}}</td>
			<th class="i"><i class="icon-flag"></i></th>
			<td>{{view.diveGroup.realized_dive_depth}}</td>
		</tr>
		<tr>
			<th rowspan="2" class="i">&nbsp;</th>
			<td rowspan="2">&nbsp;</td>
			<th class="i"><i class="icon-thumbs-down"></i></th>
			<td>{{view.diveGroup.immersion_start_time}}</td>
		</tr>
		<tr>
			<th class="i"><i class="icon-thumbs-up"></i></th>
			<td>{{view.diveGroup.immersion_end_time}}</td>
		</tr>
	</table>
{{/if}}

{{#if view.isEditing}}
	<div class="btn-group pull-left">
		<button class="btn btn-danger" type="button" {{action destroyObject}}>Supprimer</button>
	</div>
	<div class="btn-group pull-right">
		<button class="btn btn-inverse" type="button" {{action stopEditMode}}>Annuler</button>
		<button class="btn btn-success" type="submit">Enregistrer</button>
	</div>
{{else}}
	<div class="btn-group pull-right">
		<button class="btn btn-primary" type="button" {{action startEditMode}}>Modifier</button>
	</div>
{{/if}}