<p id="notice"><%= notice %></p>

<p>
  <b>Boat departure:</b>
  <%= @dive_group.boat_departure_id %>
</p>

<p>
  <b>Estimated dive time:</b>
  <%= @dive_group.estimated_dive_time %>
</p>

<p>
  <b>Estimated dive depth:</b>
  <%= @dive_group.estimated_dive_depth %>
</p>

<p>
  <b>Realized dive time:</b>
  <%= @dive_group.realized_dive_time %>
</p>

<p>
  <b>Realized dive depth:</b>
  <%= @dive_group.realized_dive_depth %>
</p>

<p>
  <b>Immersion start time:</b>
  <%= @dive_group.immersion_start_time %>
</p>

<p>
  <b>Immersion end time:</b>
  <%= @dive_group.immersion_end_time %>
</p>


<%= link_to 'Edit', edit_dive_group_path(@dive_group) %> |
<%= link_to 'Back', dive_groups_path %>
