<div class="panel right" id="content">
	{{ 
		view JustDive.Views.BoatDepartures.Edit 
				diveEventBinding		= "view.diveEvent" 
				boatDepartureBinding	= "view.boatDeparture"
	}}

	<div class="scrollable-x panel-split panel-split-fixed-bottom-135-a dive-groups droppables-container">
		{{ 
			view JustDive.Views.DiveGroups.List 
					diveEventBinding		= "view.diveEvent" 
					boatDepartureBinding	= "view.boatDeparture"
		}}
	</div>
	<div class="droppables-container">
		<div class="scrollable-x panel-split panel-split-fixed-bottom-135-b available-participants droppable">
			{{#each view.boatDeparture.availableParticipants}}
				<div class="scrollable-item participant draggable" {{bindAttr data-diver-id="diver_id"}}>
					<span class="fn">{{diver.fullname}}</span>
					<span class="le">{{diver.level.name}}</span>
				</div>
			{{/each}}
		</div>
	</div>
</div>