<div class="navbar subnav">
	<div class="navbar-inner">
		<div class="container">
			{{#if view.isEditing}}
				<div class="btn-group pull-left">
					<button class="btn btn-inverse" type="button" {{action "stopEditMode"}}>Annuler</button>
				</div>
				<div class="btn-group pull-right">
					<button class="btn btn-success" type="submit">Enregistrer</button>
				</div>
			{{else}}
				<div class="btn-group pull-left">
					<a class="btn btn-inverse" href="#" {{action "show" target="JustDive.Controllers.Routed.DiveEvent" context="view.diveEvent"}}><i class="icon-chevron-left icon-white"></i>{{view.diveEvent.title}}</a>
				</div>
				<div class="btn-group pull-right">
					<button class="btn btn-primary" type="button" {{action "startEditMode"}}>Modifier</button>
				</div>
			{{/if}}
			<ul class="nav pull-left">
				<li class="divider-vertical"></li>
				<li><span class="navbar-text">{{view.boatDeparture.title}} / {{view.boatDeparture.boat.name}}</span></li>
			</ul>
		</div>
	</div>
</div>

{{#if view.isEditing}}
<div class="row-fluid">
	<div class="span8">
		<div class="hero-unit">
			<h1>Départ bateau</h1>
			<div class="field">
				{{view JustDive.Select viewName="select"
							  contentBinding="view.boatDeparture.diveEvent.possibleDates"
							  optionLabelPath="content.label"
							  optionValuePath="content.id"
							  prompt="Jour de départ :"
							  valueBinding="view.boatDeparture.departure_date"}}
			</div>
			<div class="field">
				 {{view JustDive.Select viewName="select"
							  contentBinding="JustDive.restControllers.boats"
							  optionLabelPath="content.name"
							  optionValuePath="content.id"
							  prompt="Bateau :"
							  valueBinding="view.boatDeparture.boat_id"}}
			</div>
		</div>
		<div class="actions"> 
			<button class="btn btn-danger" type="button" {{action "destroyObject"}}>Supprimer</button>
		</div>
	</div>
	<div class="span1">
		<dl class="dl-horizontal">
			<dt>Id</dt>
			<dd>{{view.boatDeparture.id}}</dd>
			<dt>Boat</dt>
			<dd>{{view.boatDeparture.boat_id}}</dd>
			<dt>Id évènement</dt>
			<dd>{{view.boatDeparture.dive_event_id}}</dd>
			<dt>Créé le</dt>
			<dd>{{view.boatDeparture.created_at}}</dd>
			<dt>Modifié le</dt>
			<dd>{{view.boatDeparture.updated_at}}</dd>
		</dl>
	</div>
</div>
{{/if}}


{{#unless view.isEditing}}
	{{ view JustDive.Views.DiveGroups.List 
		diveEventBinding="view.diveEvent" 
		boatDepartureBinding="view.boatDeparture"}}
{{/unless}}