<h1>Listing divers</h1>

<table>
  <tr>
    <th>Dive club</th>
    <th>Google contact</th>
    <th>Email</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Ffessm level</th>
    <th>Ffessm licence number</th>
    <th>Medical certificate expires on</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @divers.each do |diver| %>
  <tr>
    <td><%= diver.dive_club_id %></td>
    <td><%= diver.google_contact_id %></td>
    <td><%= diver.email %></td>
    <td><%= diver.firstname %></td>
    <td><%= diver.lastname %></td>
    <td><%= diver.ffessm_level_id %></td>
    <td><%= diver.ffessm_licence_number %></td>
    <td><%= diver.medical_certificate_expires_on %></td>
    <td><%= link_to 'Show', diver %></td>
    <td><%= link_to 'Edit', edit_diver_path(diver) %></td>
    <td><%= link_to 'Destroy', diver, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Diver', new_diver_path %>
