<p id="notice"><%= notice %></p>

<p>
  <b>Dive club:</b>
  <%= @dive_event.dive_club_id %>
</p>

<p>
  <b>Start date:</b>
  <%= @dive_event.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @dive_event.end_date %>
</p>


<%= link_to 'Edit', edit_dive_event_path(@dive_event) %> |
<%= link_to 'Back', dive_events_path %>
