<h1>Listing dive_roles</h1>

<table>
  <tr>
    <th>Dive club</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dive_roles.each do |dive_role| %>
  <tr>
    <td><%= dive_role.dive_club_id %></td>
    <td><%= dive_role.name %></td>
    <td><%= link_to 'Show', dive_role %></td>
    <td><%= link_to 'Edit', edit_dive_role_path(dive_role) %></td>
    <td><%= link_to 'Destroy', dive_role, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dive role', new_dive_role_path %>
