<div class="panel right" id="content">
	<div class="navbar navbar-fixed-top right">
		<div class="navbar-inner">
			<div class="container-fluid">
				{{#if view.isEditing}}
					<div class="btn-group pull-left">
						<button class="btn btn-inverse" type="button" {{action "stopEditMode"}}>Annuler</button>
					</div>
					<div class="btn-group pull-right">
						<button class="btn btn-success" type="submit">Enregistrer</button>
					</div>
				{{else}}
					<div class="btn-group pull-left">
						<a class="btn btn-inverse" href="#!dive-events"><i class="icon-chevron-left icon-white"></i>Retour</a>
					</div>
					<div class="btn-group pull-right">
						<button class="btn btn-primary" type="button" {{action "startEditMode"}}>Modifier</button>
					</div>
				{{/if}}
				<ul class="nav pull-left">
					<li class="divider-vertical"></li>
					<li><span class="navbar-text">{{view.diveEvent.title}}</span></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="scrollable panel">
		<div class="content insideScrollablePanel">
			{{#if view.isEditing}}
				<div class="row-fluid">
					<div class="span8">
						<div class="hero-unit">
							<h1>Evènement</h1>
							<div class="field">
								{{view JustDive.DateField valueBinding="view.diveEvent.start_date"  placeholder="Start date"}}
							</div>
							<div class="field">
								{{view JustDive.DateField valueBinding="view.diveEvent.end_date"  placeholder="End date"}}
							</div>
						</div>
						<div class="actions"> 
							<button class="btn btn-danger" type="button" {{action "destroyObject"}}>Supprimer</button>
						</div>
					</div>
					<div class="span1">
						<dl class="dl-horizontal">
							<dt>Id</dt>
							<dd>{{view.diveEvent.id}}</dd>
							<dt>Créé le</dt>
							<dd>{{view.diveEvent.created_at}}</dd>
							<dt>Modifié le</dt>
							<dd>{{view.diveEvent.updated_at}}</dd>
						</dl>
					</div>
				</div>
			{{/if}}

			{{#unless view.isEditing}}
				{{ view JustDive.Views.BoatDepartures.List diveEventBinding="view.diveEvent"}}
			{{/unless}}
			
			{{#unless view.isEditing}}
				{{ view JustDive.Views.DiveEventParticipants.List diveEventBinding="view.diveEvent"}}
			{{/unless}}
		</div>
	</div>
</div>

