<%= form_for(@admin_app_key) do |f| %>
  <% if @admin_app_key.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_app_key.errors.count, "error") %> prohibited this admin_app_key from being saved:</h2>

      <ul>
      <% @admin_app_key.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :administrator_id %><br />
    <%= f.number_field :administrator_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
