<h1>Listing App Keys</h1>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Dive club</th>
	<th>Administrator</th>
	<th>Code</th>
    <th colspan="3" class="action"></th>
  </tr>

<% @admin_app_keys.each do |admin_app_key| %>
  <tr>
	<td><%= admin_app_key.administrator.dive_club.name %></td>
	<td><%= admin_app_key.administrator.email %></td>
    <td><%= admin_app_key.code %></td>
    <td><%= link_to 'Show', admin_app_key, :class => 'btn' %></td>
    <td><%= link_to 'Edit', edit_admin_app_key_path(admin_app_key), :class => 'btn' %></td>
    <td><%= link_to 'Destroy', admin_app_key, :confirm => 'Are you sure?', :method => :delete, :class => 'btn' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New App key', new_admin_app_key_path, :class => 'btn btn-primary' %>
