<h1>Listing sync_histories</h1>

<table>
  <tr>
    <th>App key</th>
    <th>Resource name</th>
    <th>Last synced on</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sync_histories.each do |sync_history| %>
  <tr>
    <td><%= sync_history.app_key_id %></td>
    <td><%= sync_history.resource_name %></td>
    <td><%= sync_history.last_synced_on %></td>
    <td><%= link_to 'Show', sync_history %></td>
    <td><%= link_to 'Edit', edit_sync_history_path(sync_history) %></td>
    <td><%= link_to 'Destroy', sync_history, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sync history', new_sync_history_path %>
