<p id="notice"><%= notice %></p>

<p>
  <b>App key:</b>
  <%= @sync_history.app_key_id %>
</p>

<p>
  <b>Resource name:</b>
  <%= @sync_history.resource_name %>
</p>

<p>
  <b>Last synced on:</b>
  <%= @sync_history.last_synced_on %>
</p>


<%= link_to 'Edit', edit_sync_history_path(@sync_history) %> |
<%= link_to 'Back', sync_histories_path %>
