{{#if JustDive.identity.is_logged_in}}
	<div class="btn-group pull-right">
		<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			<i class="icon-user"></i>
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li><a href="#!club-admin"><i class="icon-cog"></i> Configuration du club</a>
			<li class="divider"></li>
			<li><a href="#" {{action clearLocalStorage target="JustDive.Controllers.Identity"}}><i class="icon-trash"></i> Reinitialiser l'application</a></li>
			<li class="dropdown-menu-description">Vous êtes identifié en tant que {{JustDive.identity.email}}</li>
			{{#if JustDive.monitor.is_online}}
				<li><a href="#" {{action logout target="JustDive.Controllers.Identity"}}><i class="icon-off"></i> Déconnexion</a></li>
			{{else}}
				<li><a href="#" class="disabled"><i class="icon-off"></i> Déconnexion</a></li>
			{{/if}}
		</ul>
	</div>
{{/if}}
<div class="pull-right activity-monitor">
	<i id="loading" class="icon-indicator" style="display:none;"></i>
{{#if JustDive.monitor.is_online}}
	<i class="icon-signal icon-white"></i>
{{else}}
	<i class="icon-signal disabled icon-white"></i>
{{/if}}
</div>