<h1>Listing admin_divers</h1>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Dive club</th>
    <th>Email</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Ffessm level</th>
    <th>Ffessm licence number</th>
    <th>Medical certificate expires on</th>
    <th colspan="3" class="action"></th>
  </tr>

<% @admin_divers.each do |admin_diver| %>
  <tr>
    <td><%= admin_diver.dive_club.name %></td>
    <td><%= admin_diver.email %></td>
    <td><%= admin_diver.firstname %></td>
    <td><%= admin_diver.lastname %></td>
    <td><%= admin_diver.ffessm_level.name %></td>
    <td><%= admin_diver.ffessm_licence_number %></td>
    <td><%= admin_diver.medical_certificate_expires_on %></td>
    <td><%= link_to 'Show', admin_diver, :class => 'btn' %></td>
    <td><%= link_to 'Edit', edit_admin_diver_path(admin_diver), :class => 'btn' %></td>
    <td><%= link_to 'Destroy', admin_diver, :confirm => 'Are you sure?', :method => :delete, :class => 'btn' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Diver', new_admin_diver_path, :class => 'btn btn-primary' %>
