<%= form_for(@dive_role) do |f| %>
  <% if @dive_role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dive_role.errors.count, "error") %> prohibited this dive_role from being saved:</h2>

      <ul>
      <% @dive_role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dive_club_id %><br />
    <%= f.number_field :dive_club_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
