<h1>Listing admin_dive_events</h1>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Dive club</th>
    <th>Start date</th>
    <th>End date</th>
    <th colspan="3" class="action"></th>
  </tr>

<% @admin_dive_events.each do |admin_dive_event| %>
  <tr>
    <td><%= admin_dive_event.dive_club.name %></td>
    <td><%= admin_dive_event.start_date %></td>
    <td><%= admin_dive_event.end_date %></td>
    <td><%= link_to 'Show', admin_dive_event, :class => 'btn' %></td>
    <td><%= link_to 'Edit', edit_admin_dive_event_path(admin_dive_event), :class => 'btn' %></td>
    <td><%= link_to 'Destroy', admin_dive_event, :confirm => 'Are you sure?', :method => :delete, :class => 'btn' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dive event', new_admin_dive_event_path, :class => 'btn btn-primary' %>
