<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @identity.email %>
</p>

<p>
  <b>Password:</b>
  <%= @identity.password %>
</p>


<%= link_to 'Edit', edit_identity_path(@identity) %> |
<%= link_to 'Back', identities_path %>
