<div class="modal-body">
	<div class="modal-header">
		<button class="close" type="button" {{action "stopEditMode"}} data-dismiss="modal">×</button>
		<h3>{{view.diveGroupParticipant.diver.fullname}} / {{view.diveGroupParticipant.diveRole.name}}</h3>
	</div>
	
	<div class="modal-body">
		<div class="row-fluid">
			<div class="span6">
				<h1>Plongeur</h1>
				<div class="field">
					{{view JustDive.Select viewName="select"
							  contentBinding="JustDive.restControllers.divers"
							  optionLabelPath="content.fullname"
							  optionValuePath="content.id"
							  prompt="Plongeur :"
							  valueBinding="view.diveGroupParticipant.diver_id"}}
				</div>
				<div class="field">
					{{view JustDive.Select viewName="select"
							  contentBinding="JustDive.restControllers.dive_roles"
							  optionLabelPath="content.name"
							  optionValuePath="content.id"
							  prompt="Rôle :"
							  valueBinding="view.diveGroupParticipant.dive_role_id"}}
				</div>
				{{#unless view.isCreating}}
				<div>
					<button class="btn btn-danger" type="button" {{action "destroyObject"}}>Supprimer</button>
				</div>
				{{/unless}}
			</div>
			<div class="span3">
				<dl class="dl-horizontal">
					<dt>Id</dt>
					<dd>{{view.diveGroupParticipant.id}}</dd>
					<dt>Diver</dt>
					<dd>{{view.diveGroupParticipant.diver_id}}</dd>
					<dt>Dive group</dt>
					<dd>{{view.diveGroupParticipant.dive_group_id}}</dd>
					<dt>Dive role</dt>
					<dd>{{view.diveGroupParticipant.dive_role_id}}</dd>
					<dt>Créé le</dt>
					<dd>{{view.diveGroupParticipant.created_at}}</dd>
					<dt>Modifié le</dt>
					<dd>{{view.diveGroupParticipant.updated_at}}</dd>
				</dl>
			</div>
		</div>
	</div>
	
	<div class="modal-footer">
		<div class="btn-group pull-left">
			<button class="btn" type="button" {{action "stopEditMode"}} data-dismiss="modal">Annuler</button>
		</div>
		<div class="btn-group pull-right">
			<button class="btn btn-success" type="submit" {{action "submit"}}>Enregistrer</button>
		</div>
	</div>
</div>