<div class="btn-group pull-right">
	<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">{{view.diveGroupParticipant.diveRole.name}} <span class="caret"></span></button>
	<ul class="dropdown-menu">
	{{#each JustDive.restControllers.dive_roles}}
		<li><a href="#" {{action updateRole this target="JustDive.Controllers.Routed.DiveGroupParticipant"}}>{{this.name}}</a></li>
	{{/each}}
	</ul>
</div>
<div class="participant draggable" {{bindAttr data-diver-id="diver_id"}} {{bindAttr data-dive-group-participant-id="id"}}>
	<span class="fn">{{this.diver.fullname}}</span>
	<span class="le">{{this.diver.level.name}}</span>
</div>