<div class="panel right" id="content">
	<div class="navbar navbar-fixed-top sub-navbar right">
		<div class="navbar-inner">
			<div class="container-fluid">
				<div class="btn-group pull-left">
					<a class="btn btn-inverse" href="#!club-admin/boats"><i class="icon-chevron-left icon-white"></i>Bateaux</a>
				</div>
				<span class="navbar-text">{{view.boat.name}}</span>
			</div>
		</div>
	</div>
	
	<div class="scrollable panel">
		<div class="content insideScrollablePanel">
			<div class="hero-unit">
				<h1>{{view.boat.name}}</h1>
				{{#if view.isEditing}}
					<div class="field">
						{{view Ember.TextField valueBinding="view.boat.name"  placeholder="Name" size="30"}}
					</div>
				{{/if}}

				<hr />
				<dl class="dl-horizontal">
					<dt>Id</dt>
					<dd>{{view.boat.id}}</dd>
					<dt>Créé le</dt>
					<dd>{{view.boat.created_at}}</dd>
					<dt>Modifié le</dt>
					<dd>{{view.boat.updated_at}}</dd>
				</dl>
			</div>
			<div class="actions"> 
				{{#if view.isEditing}}
					<button class="btn btn-danger" type="button" {{action destroyObject}}>Supprimer</button>
					<button class="btn" type="button" {{action stopEditMode}}>Annuler</button>
					<button class="btn btn-success" type="submit">Enregistrer</button>
				{{else}}
					<button class="btn btn-primary" type="button" {{action startEditMode}}>Modifier</button>
				{{/if}}
			</div>
		</div>
	</div>
</div>