<div class="panel right" id="content">
	<div class="navbar navbar-fixed-top sub-navbar right">
		<div class="navbar-inner">
			<div class="container-fluid">
				{{#if view.isEditing}}
					{{#if view.isCreating}}
					<div class="btn-group pull-left">
						<a class="btn  btn-inverse" href="#!club-admin/dive-roles">Annuler</a>
					</div>
					{{else}}
					<div class="btn-group pull-left">
						<button class="btn btn-inverse" type="button" {{action stopEditMode}}>Annuler</button>
					</div>
					{{/if}}
					<div class="btn-group pull-right">
						<button class="btn btn-success" type="submit">Enregistrer</button>
					</div>
				{{else}}
					<div class="btn-group pull-left">
						<a class="btn" href="#!club-admin/dive-roles"><i class="icon-chevron-left"></i>Rôles</a>
					</div>
					<div class="btn-group pull-right">
						<button class="btn" {{action startEditMode}}><i class="icon-pencil"></i></button>
					</div>
				{{/if}}
				<span class="navbar-text">{{view.diveRole.name}}</span>
			</div>
		</div>
	</div>

	<div class="scrollable panel">
		<div class="content insideScrollablePanel">
			<div class="hero-unit">
				<h1>{{view.diveRole.name}}</h1>
				{{#if view.isEditing}}
					<div class="field">
						{{view Ember.TextField valueBinding="view.diveRole.name"  placeholder="Name" size="30"}}
					</div>
				{{/if}}

				<hr />
				<dl class="dl-horizontal">
					<dt>Id</dt>
					<dd>{{view.diveRole.id}}</dd>
					<dt>Créé le</dt>
					<dd>{{view.diveRole.created_at}}</dd>
					<dt>Modifié le</dt>
					<dd>{{view.diveRole.updated_at}}</dd>
				</dl>
			</div>
			<div class="actions"> 
				{{#if view.isEditing}}
					<button class="btn btn-danger" type="button" {{action destroyObject}}>Supprimer</button>
				{{/if}}
			</div>
		</div>
	</div>
</div>