<div class="hero-unit">
	<h1>Bienvenue !</h1>
</div>

<table class="table table-striped table-bordered">
	<tbody>
		<tr>
			<td>Version</td>
			<td>{{JustDive.version}}</td>
		</tr>
		<tr>
			<td>AppKey</td>
			<td>{{JustDive.APP_KEY}}</td>
		</tr>
		<tr>
			<td>Authenticity Token</td>
			<td>{{JustDive.identity.authenticity_token}}</td>
		</tr>
		<tr>
			<td rowspan="10">Stockage local</td>
			<td><span class="badge badge-info">{{JustDive.restControllers.errors.length}}</span> erreurs</td>
		</tr>
		<tr>
			<td><span class="badge badge-info">{{JustDive.restControllers.boats.length}}</span> bateaux</td>
		</tr>
		<tr>
			<td><span class="badge badge-info">{{JustDive.restControllers.dive_roles.length}}</span> rôles</td>
		</tr>
		<tr>
			<td><span class="badge badge-info">{{JustDive.restControllers.ffessm_levels.length}}</span> niveaux</td>
		</tr>
		<tr>
			<td><span class="badge badge-info">{{JustDive.restControllers.divers.length}}</span> contacts</td>
		</tr>
		<tr>
			<td><span class="badge badge-info">{{JustDive.restControllers.dive_events.length}}</span> évènements</td>
		</tr>
		<tr>
			<td><span class="badge badge-info">{{JustDive.restControllers.boat_departures.length}}</span> départs bateau</td>
		</tr>
		<tr>
			<td><span class="badge badge-info">{{JustDive.restControllers.dive_groups.length}}</span> palanquées</td>
		</tr>
		<tr>
			<td><span class="badge badge-info">{{JustDive.restControllers.dive_group_participants.length}}</span> plongeurs</td>
		</tr>
		<tr>
			<td><span class="badge badge-info">{{JustDive.restControllers.dive_event_participants.length}}</span> participants</td>
		</tr>
	</tbody>
</table>