<!DOCTYPE html>
<html>
<head>
  <title>JustDive</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <link rel="icon" type="image/png" href="<%= asset_path 'favicon.ico' %>">
  <link rel="apple-touch-icon-precomposed" media="screen and (resolution: 163dpi)" href="<%= asset_path 'jd-logo-57.png' %>" />
  <link rel="apple-touch-icon-precomposed" media="screen and (resolution: 132dpi)" href="<%= asset_path 'jd-logo-72.png' %>" />
  <link rel="apple-touch-icon-precomposed" media="screen and (resolution: 326dpi)" href="<%= asset_path 'jd-logo-114.png' %>" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>